{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    {% if user.is_anonymous %}
        <a href="{% url 'login' %}"> Login </a>        
        
        {% else %}
            <a class="btn btn-success mb-3" style="margin-left: 50px;" aria-current="page" href="{% url 'new_employee' %}">
                    <img src="#" alt="" style="width: 30px; height: auto;">
                    Novo Funcionário
            </a>
                
            <!-- table -->
    <div class="container mb-2 bg-white rounded">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Atendente</th>
                            <th>Setor</th>
                            <th>Função</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>Visualizar</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pedro</td>
                            <td>Oficina</td>
                            <td>Mecânico</td>
                            <td>21 983928328</td>
                            <td>pedro@email.com</td>
                            <td><a href="#"><img src="{% static 'images/view.jpg' %}" alt="ver"></a></td>
                            <td><a href="#"><img src="{% static 'images/update.png' %}" alt="editar"></a></td>
                        </tr>
                        <tr>
                            <td>Tiago</td>
                            <td>Administrativo</td>
                            <td>Aux. Administrativo</td>
                            <td>21 978372738</td>
                            <td>tiago@email.com</td>
                            <td><a href="#"><img src="{% static 'images/view.jpg' %}" alt="ver"></a></td>
                            <td><a href="#"><img src="{% static 'images/update.png' %}" alt="editar"></a></td>
                        </tr>
                        <tr>
                            <td>João</td>
                            <td>Financeiro</td>
                            <td>Aux. de Faturamento</td>
                            <td>21 984728374</td>
                            <td>joao@email.com</td>
                            <td><a href="#"><img src="{% static 'images/view.jpg' %}" alt="ver"></a></td>
                            <td><a href="#"><img src="{% static 'images/update.png' %}" alt="editar"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
            
    {% endif %}
{% endblock %}